node_modules
npm-debug.log*
dist
.DS_Store
data/database.db
data/database.db-backup*
data/database.db-shm
data/database.db-wal
data/database.db-journal
data/session/auth.json
data/videos/*
!data/videos/.gitkeep
data/images/*
!data/images/.gitkeep
!data/images/sample*.png
.env
